
$headerHeight: 11vh;
$grey: rgb(150,150,150);
$grey-light: rgb(220,220,220);
$grey-dark: rgb(100,100,100);
$white: rgb(255,255,255);

.header {
    // border-bottom: 1px solid $grey-light;
    background-color: white;
    color: rgb(150,150,150);
    width: 100%;
    height: $headerHeight;
    display: flex;
    position: fixed;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0,170,255,0.7);
    -moz-box-shadow: 0px 3px 20px 0px rgba(0,170,255,0.7);
    box-shadow: 0px 3px 20px 0px rgba(0,170,255,0.7);

    & > a {
        color: rgb(150,150,150);
    }
    & > * {
        flex: 1;
        border-right: 1px solid $grey-light;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 3px;
        padding-right: 3px;
    }

}

.flex4{
    flex: 4;
}

.logo {
    font-size: 20px;
    color: #0af !important;
}


