
@font-face {
  font-family: 'CircularStd-Bold';
  src: url('CircularStd-Bold.eot?#iefix') format('embedded-opentype'),  url('CircularStd-Bold.otf')  format('opentype'),
	     url('CircularStd-Bold.woff') format('woff'), url('CircularStd-Bold.ttf')  format('truetype'), url('CircularStd-Bold.svg#CircularStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd-Book';
  src: url('CircularStd-Book.eot?#iefix') format('embedded-opentype'),  url('CircularStd-Book.otf')  format('opentype'),
	     url('CircularStd-Book.woff') format('woff'), url('CircularStd-Book.ttf')  format('truetype'), url('CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturySchoolbook';
  src: url('CenturySchoolbook.eot?#iefix') format('embedded-opentype'),  url('CenturySchoolbook.woff') format('woff'), url('CenturySchoolbook.ttf')  format('truetype'), url('CenturySchoolbook.svg#CenturySchoolbook') format('svg');
  font-weight: normal;
  font-style: normal;
}

