

$grey: rgb(150,150,150);
$grey-light: rgb(220,220,220);
$grey-dark: rgb(100,100,100);


.stars{
	color: #0af;
    font-weight: bold;
    font-size: 2rem;
}

.nostars {
	color: #0af;
    font-weight: bold;
    font-size: 1rem;	
}