
$grey: rgb(150,150,150);
$grey-light: rgb(220,220,220);
$grey-dark: rgb(100,100,100);


.container{
    padding: 2rem;
}


.header{
    margin-bottom: 5rem;
}

.school{
    display: flex;
    margin-bottom: 3rem;
    cursor: pointer;
}

.image{
    width: 40rem;
    height: 20rem;
    margin-right: 1rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00aaff+0,e5e5e5+100 */
    background: #00aaff; /* Old browsers */
    background: -moz-linear-gradient(top,  #00aaff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #00aaff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #00aaff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aaff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}

.data{
    flex: 1;
    background-color: white;
    height: 20rem;
}

.schoolname {
    font-size: 36px;
    line-height: 30px;
    color: $grey; 
}

.levels {
    line-height: 30px;
    font-size: 13px;
    color: $grey-light;

}