
$grey: rgb(150,150,150);
$grey-light: rgb(220,220,220);
$grey-dark: rgb(100,100,100);

.banner{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: white;
}

.rating{
    margin-bottom: 1.5rem;
}

.schoolName{
    font-size: 2rem;
    text-transform: capitalize;
}

.data{
    display: flex;
    min-height: 70vh;
    background-color: $grey-dark;
    color: white;
    font-size: 12px;
    & > * {
        flex: 1;
        // border-right: 1px solid $grey-light;
    }
}

.number {
    font-family: 'CenturySchoolbook';
    font-size: 90px;
    color: white;
}

.review {
    padding: 3rem;
    line-height: 30px;
    font-size: 22px;
    // border-bottom: 1px solid $grey-light;
    background-color: #0af;
    color: white;

}