@import './reset';

@font-face {
  font-family: 'CircularStd-Bold';
  src: url('./webfont/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), 
	     url('./webfont/CircularStd-Bold.woff') format('woff'), url('./webfont/CircularStd-Bold.ttf')  format('truetype'), url('./webfont/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd-Book';
  src: url('./webfont/CircularStd-Book.eot?#iefix') format('embedded-opentype'),  
	     url('./webfont/CircularStd-Book.woff') format('woff'), url('./webfont/CircularStd-Book.ttf')  format('truetype'), url('./webfont/CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturySchoolbook';
  src: url('./webfont/CenturySchoolbook.eot?#iefix') format('embedded-opentype'),  url('./webfont/CenturySchoolbook.woff') format('woff'), url('./webfont/CenturySchoolbook.ttf')  format('truetype'), url('./webfont/CenturySchoolbook.svg#CenturySchoolbook') format('svg');
  font-weight: normal;
  font-style: normal;
}

$grey: rgb(150,150,150);
$grey-light: rgb(220,220,220);
$grey-dark: rgb(100,100,100);


html{
    font-family: 'CircularStd-Book';
}