
@import '../../components/header/style';
@import '../../components/footer/style';

.defaultLayout{
    width: 100vw;
    min-height: 100vh;
}

.body{
    width: 100%;
    padding-top: $headerHeight;
    min-height: 100vh - $headerHeight - $footerHeight;
}

