
$footerHeight: 5vh;

.footer {
    border-top: 1px solid black;
    background-color: lightgray;
    color: white;
    width: 100%;
    height: $footerHeight;
    display: flex;
    justify-content: space-around;
    align-items: center;
}