



.loadingScreen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0af;
    font-size: large;
    font-weight: bold;
    color: black;
}