
.counter {
    width: 200px;
    height: 50%;
    color: black;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    .count{
        font-size: 1.5em;
        font-weight: bold;
    }

}