

$grey: rgb(150,150,150);
$grey-light: rgb(220,220,220);
$grey-dark: rgb(100,100,100);

.button{

    padding: 12px 20px 18px 20px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: #0af;
    color: white;
    box-sizing: border-box;
    outline: none;
    font-size: 20px;
    height: 100%;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0,170,255,0.0);
    -moz-box-shadow: 0px 3px 20px 0px rgba(0,170,255,0.0);
    box-shadow: 0px 3px 20px 0px rgba(0,170,255,0.0);

    &:hover{
        // margin: 2px 2px 0 0 ;
        padding: 13px 18px 21px 22px;
        background-color: #0af;
        -webkit-box-shadow: 0px 3px 20px 0px rgba(0,170,255,0.7);
        -moz-box-shadow: 0px 3px 20px 0px rgba(0,170,255,0.7);
        box-shadow: 0px 3px 20px 0px rgba(0,170,255,0.7);

    }

    text-transform: uppercase;
}




.disabled{
    composes: button;
    border-color: $grey-light;
    color: rgb(125, 125, 125);
    cursor: initial;

    &:hover{
        border-color: $grey;
        color: rgb(125, 125, 125);
        cursor: initial;
    }

}